<!doctype html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Hệ thống đăng ký môn học{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block styles %}{% endblock %}
    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
